export ROOT_DOMAIN=joshuafishman.localhost # ROOT DOMAIN
export PUBLIC=false # determines whether or not the software is publicly accessible

export DUCKDNS_DOMAINS=joshuafishman
export DUCKDNS_TOKEN=xxx
